.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 65vh 20vh;
}
.box1{
    background-color: rgb(77, 229, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.box2{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.box3{
    background-color: rgb(59, 59, 227);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.f1{
    background-color: brown;
}
.f2{
    background-color: cadetblue;
}
.f3{
    background-color: chocolate;
}