.main-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    height: 200vh;
    width: 50vw;
    gap: 5px;
}
.box1{
    width: 15vw;
    background-color: green;
    height: 15vh;
    font-size: 16px;
}
.box2{
    width: 15vw;
    background-color: blue;
    height: 15vh;
    position: relative;
}
.box3{
    width: 15vw;
    background-color: yellow;
    height: 15vh;
}
.box4{
    display: none;
}
.abc{
    position: fixed;
    left: 0;
    top: 0;
    background-color: yellow;
    position: absolute;
    z-index: 10;
}
.abc1{
    position: fixed;
    left: 0;
    top: 3px;
    background-color: red;
    position: absolute;
} 
.main-c:hover{
    background-color: aqua;
    cursor: pointer;
}

/* @media screen and (max-width: 800px) and (min-width: 600px) {

    .main-c{
        background-color: orange;
        flex-direction: row;
    }
    .box1{
        font-size: 10px;
    }
    .box2{
        display: none;
    }
    .box4{
        display: block;
        background-color: tomato;
    }
}
@media screen and (max-width: 599px) {
    .main-c{
        background-color: blueviolet;
    }
}  */
